  /* general styling and stripping*/


h1 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    
    margin: 2%;
    font-size: 35px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #072446;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}

a:active {
    text-decoration: none;
    color: inherit;
}

li {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 50px;
    font-size: 14px;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-decoration: none;
}

h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

h5 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
}

div {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 13px;
    color: white;
    letter-spacing: 1px; 
    text-decoration: none;
}

h3 {   
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    font-size: 21px;
    color: white;
}






    /* navigation bar & spacer */

    .navbar {

        margin-bottom: 0;
        border-radius: 0;
        padding: 1% 0;
        background-color:#072446;
        font-size: 1.2em;
        border: 0;
        height: auto;
    }
    

.navbar-brand{
        float: left;
        padding: 0px 15px 5px;
        color: #fff;
    }

.navbar-brand h1{
        font-size: 30pt;
        font-family:'Pacifico', cursive;
    }
    
#navbarContent p {
        font-family: 'Montserrat', sans-serif;
        padding: 0% 6%;
    }

.bg-dark{
        background-color: #072446!important;
    }    
    
.spacer-line  .line{
        background-color: crimson;
        min-height: 1vh;
        height: auto;
        width: 102%;
        margin-left: -1%;
        border: none;
    }

.nav-item {
    text-align: right;
    margin-right: -5%;
    
    margin-left: 5%;
}


.tablet-image {
    margin-bottom: 1vh;
}

.header-spacer {
    background-color: crimson;
    height: auto;
    min-height: 1vh;
}



    /*title row */

title-row{
    text-align: center;
    color: white;
    margin-top: 5vh;
}

.title {
    text-align: center;
    
}






    /*poster & details */

.cool-row {
    background-image: url(../img/Headers/2MdY.gif);
    
    background-size: cover;
    border-style: none;
    height: auto;
}

.movie-poster {
    width: 200px;
    height: 300px;
    background-color: aqua;
    
    margin-top: 5%;
    margin-bottom: 5vh;
}

.movie-details {
    color: white;
    text-align: center;
    margin-top: inherit;
    height: auto;
    width: 10%;
    
    margin-bottom: 5%;
}

.ratings {
    color: white;
    text-align: center;
    margin-top: inherit;
    padding-top: 2%;
}

.heading {
    font-size: 16px;
    font-weight: 300;
}

.info {

    font-weight: 500;
}

.ratings h2 {
    font-size: 20px;
}

.ratings-box {
    border-style: solid;
    border-color: white;
    width: 60%;
    margin-left: 20%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 50px;
    background-color: rgba(255,255,255,0.3);
}

.ratings-box img {
    max-width: 50%;
    margin-bottom: 2%;
}

.extras-box {
    border-style: solid;
    border-color: white;
    width: 60%;
    margin-left: 20%;
    height: auto;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 2%;
    margin-bottom: 50px;
    background-color: rgba(255,255,255,0.3);
}






    /*description & awards*/

.description-icon {
    max-height: 5%;
    max-width: 50%;
}


.icon {
    max-width: 10%;
    margin-top: 4%;
}

.bottom-icon {
    max-width: 100px;
    margin-top: 5vh;
}



    /*watchlist button*/

watchlist-btn {
    background-color: crimson;
    
    height: 100px;
    
    border-radius: 300px;
    border-style: solid;
    border-color: crimson;
}







    /* footer */

.footer-spacer {
    height: 2vh;
    background-color: crimson;
}

.footer-row {
    height: auto;
}

.footer-logo img{
    max-height: 10vh;
    margin-top: 3vh;
}

.footer-blurb {
    text-align: center;
    margin-top: 3vh;
}

.thats-it {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.footer-copyright{
    opacity: 0.4;
}

.social-media img {
    max-height: 5vh;
    float: left;
    display: block;
    opacity: 0.4;
}

.social-media img:hover {
    opacity: 1;
    cursor: pointer;
    transition: all ease 500ms;
}

.social-media {
    margin-top: 5vh;
    margin-bottom: 5vh;
}







    /*watchlist button*/

.watchlist-btn-details {
    border-color: crimson;
    border-style: solid;
    border-radius: 100px;
    
    padding: 10%;
    
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.watchlist-btn-details:hover {
    background-color: crimson;
    cursor: pointer;
    transition: all ease 500ms;
}















