  /* general styling and stripping*/


h1 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    
    margin: 2%;
    font-size: 35px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #072446;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}

a:active {
    text-decoration: none;
    color: inherit;
}

li {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 50px;
    font-size: 14px;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-decoration: none;
}

h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

h5 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
}

div {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 13px;
    color: white;
    letter-spacing: 1px; 
    text-decoration: none;
}

h3 {   
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    font-size: 21px;
    color: white;
}

.library-heading h1{
    font-size: 49pt;
}







    /* navigation bar & spacer */

    .navbar {
        margin-bottom: 0;
        border-radius: 0;
        padding: 1% 0;
        background-color:#072446;
        font-size: 1.2em;
        border: 0;
        height: auto;
    }

    .navbar-brand{
        float: left;
        padding: 0px 15px 5px;
        color: #fff;
    }

    .navbar-brand h1{
        font-size: 30pt;
        font-family:'Pacifico', cursive;
    }
    
    #navbarContent p{
        font-family: 'Montserrat', sans-serif;
        padding: 0% 6%;
    }

    .bg-dark{
        background-color: #072446!important;
    }    
    
    .spacer-line  .line{
        background-color: crimson;
        min-height: 1vh;
        height: auto;
        width: 102%;
        margin-left: -1%;
        border: none;
    }

.nav-item {
    text-align: right;
    margin-right: -5%;
    
    margin-left: 5%;
}






    /*horizontal-scroller*/

.horizontal-scroller {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.horizontal-scroller .row {
    display: block;
}

.horizontal-scroller .movie-card {
    display: inline-block;
    float: none
}


    /*tablet slider*/
.tablet-image {
    background-size: cover;
    
    background-image: url(../img/HeaderSlides/Joker.jpg);
}





    /*hero-slider*/
.hero-slider {
    margin-bottom: 2%;
}

.slide-one {
    background-color: black;
    width: 100%;
    height: 800px;
    
    background-image: url(../img/HeaderSlides/GOTG2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    text-align: left;
    position: relative;
}

.slide-two {
    background-color: black;
    width: 100%;
    height: 800px;
    
    background-image: url(../img/HeaderSlides/LionKing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    text-align: left;
    position: relative;
}

.slide-three {
    background-color: black;
    width: 100%;
    height: 800px;
    
    background-image: url(../img/HeaderSlides/TheMeg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    text-align: left;
    position: relative;
}

.slide-four {
    background-color: black;
    width: 100%;
    height: 800px;
    
    background-image: url(../img/HeaderSlides/Joker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    text-align: left;
    position: relative;
}

.slide-year {
    font-size: 23px;
}

.left-side-text {
    float: left;
    margin-top: 14%;
    width: 25%;
    
    margin-left: 10%;
}

.slide-title {
    font-size: 40px;
    margin-top: 5px;
}

.slide-director {
    font-size: 15px;
    margin-bottom: 5%;
}

.slide-genre {
    float: left;
    font-size: 11px;
    margin-bottom: 5%;
}

.genre-dot {
    background-color: white;
    width: 7px; 
    height: 7px;
    float: left;
    margin-top: 0.8%;
    border-radius: 50px;
    
    margin-right: 3%;
    margin-left: 3%;
}



.slider-details-btn {
    background-color: #033967;
    width: 70%;
    margin-top: 20%;
    height: 35px;
    
    padding-top: 2%; 
    
    text-align: center;
    border-radius: 50px;
}

.slider-details-btn:hover {
    cursor: pointer;
    transition: all ease 500ms;
    background-color: crimson;
}

.watch-trailer-btn {
    background-color: #e8c73d;
    width: 70%;
    margin-top: 3%;
    height: 35px;
    
    padding-top: 2%;
    
    text-align: center;
    border-radius: 50px;;
}

.watch-trailer-btn:hover {
    cursor: pointer;
    transition: all ease 500ms;
    background-color: crimson;
}




    /*slide-indicators*/

.slide-indicator-container {
    width: 20px;
    height: 20%;
    
    float: right;
    
    margin-top: 22%;
    margin-right: 4%;
}

.indicator {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100%;
    
    margin-top: 80%;
    opacity: 0.5;
}

.indicator:hover {
    opacity: 1;
    cursor: pointer;
    transition: all ease 500ms;
}

.slide-active {
    opacity: 1;
}






    /* bottom bar - hero slider */

.bottom-bar {
    width: 100%;
    height: 9%;
    position: absolute;
    bottom: 0;
}

.bottom-bar-info {
    width: 80%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    float: left;
}

.slider-watchlist-btn {
    width: 19.97%;
    height: 100%;
    background-color: #e8c73d; 
    float: left;
}

.slider-watchlist-btn:hover {
    cursor: pointer;
    transition: all ease 500ms;
    background-color: crimson;
}

.slider-watchlist-btn h6 {
    margin-top: 8%;
    margin-left: 13%;
}

.slider-rating-heading {
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 2%;
}

.star-rating i {
    float: left;
    margin-left: 0.7%;
    color: white;
    margin-top: 2.2%;
}

.slider-rating {
    float: left;
    margin-top: 2.2%;
    margin-left: 2.5%;
    
    font-size: 12px;
}

.slider-time {
    float: right;
    margin-right: 2%;
    font-size: 20px;
    margin-top: 2%;
}

.slider-clock {
    margin-right: 1%;
    width: 2%;
    float: right;
    margin-top: 2%;
}




    /*see-more button*/
.see-more {
    opacity: 0.4;
    margin-top: 1%;
}

.see-more:hover {
    opacity: 1;
    cursor: pointer;
    transition: all ease 500ms;
}

.recommended-row {
    min-height: 47vh;
}

.see-less {
    opacity: 0.4;
    margin-top: 1%;
}

.see-less:hover {
    opacity: 1;
    cursor: pointer;
    transition: all ease 500ms;
}





    /* movie-card */
.splash-info {
    color: white;
}

.movie-poster {
    background-color: white;
    width: 200px;
    height: 300px;
    
    margin-top: 6%;
    margin-bottom: 5%;
}

.splash-row-one {
    width: 100%;
}

.splashTitle {
    text-align: left;
}

.splashGenre {
    width: 100%;
    letter-spacing: 1px;
    font-size: 10px;
    
    text-align: left;
    
    color: white;
    margin-bottom: 2%;
}

.splashTime {
    float: left;
}

.movie-time img {
    width: 15px;
    float: left;
    margin-right: 5%;
}

.show-time {
    float: right;
    color: white;
    font-size: 13px;
}


.mobile-btn {
    width: 48%;
    background-color: crimson;
    height: auto;
    
    margin-bottom: 5%;
    border-radius: 5%;
    margin-right: 2%;
    
    padding: 2%;
    
    float: left;
    text-align: center;
    line-height: 15px;
}





    /*hover state for movie card */

.flip-card {
    background-color: rgba(255,255,255,0.3);
    height: auto;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
    background-color: rgba(255,255,255,0.3);
    padding: 5%;
    height: auto;
}

.flip-card-back p {
    margin-top: 7%;
    font-weight: 100;
}

.flip-card-back h5 {
    font-weight: 700;
}


.flip-watchlist {
    background-color: #e8c73d;
    
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
    
    height: auto;
    border-radius: 100px;
}

.flip-watchlist p {
    padding-top: 2%;
    padding-bottom: 1%;
}

.flip-watchlist:hover {
    cursor: pointer;
    transition: all ease 500ms;
    background-color: crimson;
}

.flip-details {
    background-color: #072446;
    
    width: 90%;
    margin-left: 5%;
    
    height: auto;
    border-radius: 100px;
}

.flip-details p {
    padding-top: 2%;
    padding-bottom: 1%;
}

.flip-details:hover {
    cursor: pointer;
    transition: all ease 500ms;
    background-color: crimson;
}






    /*extra buttons*/









    /* footer */

.footer-spacer {
    height: 2vh;
    background-color: crimson;
}

.footer-row {
    height: auto;
}

.footer-logo img{
    max-height: 10vh;
    margin-top: 3vh;
}

.footer-blurb {
    text-align: center;
    margin-top: 3vh;
}

.thats-it {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.footer-copyright{
    opacity: 0.4;
}

.social-media img {
    max-height: 5vh;
    float: left;
    display: block;
    opacity: 0.4;
}

.social-media img:hover {
    opacity: 1;
    cursor: pointer;
    transition: all ease 500ms;
}

.social-media {
    margin-top: 5vh;
    margin-bottom: 5vh;
}






































