body, html{
    background-color: black !important;
    color:white !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
   

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}

a:active {
    text-decoration: none;
    color: inherit;
}


h1 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    height: auto;
    margin: 0 auto;
    
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 20px;
    height: auto;
    margin: 0 auto;
}

h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    height: auto;
    margin: 0 auto;
}

h3{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    padding-top: 20px;
}

.top-spacer{
    height: 100px;
}

.top-spacer-2{
    height: 20px;
}

#image-0{
    max-width: 50%; 
    height: 50%;
    margin: 0 auto;
}

#image-01{
    max-width: 50%; 
    height: auto;
    margin: 0 auto;
}

.social-icon{
    max-width: 6%; 
    height: auto;
    margin: 0 auto;
    margin-left: 100px;
    padding-left: 10px;
    opacity: 0.75;
}

.container-1{
    background-image: url(../img/Headers/2MdY.gif);
    background-size: cover;
     max-width: 100vh;
     background-repeat: no-repeat;
     background-position: center;
}

.sign-in{
    background-color: #072446;
    opacity: 0.88;
    padding-top: 50px;
    border-radius: 30px;
}

.row{
    margin: 0;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }


#image-1{
    text-align: center;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background-image: url(../img/UserIcons/samuser1.png);
    background-position: center;
    background-size:cover;
    overflow: hidden;
}

#image-2{
    text-align: center;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background-image: url(../img/UserIcons/jackuser1.png);
    background-position: center;
    background-size:cover;
    overflow: hidden;
}

#image-3{
    text-align: center;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background-image: url(../img/UserIcons/bobuser1.png);
    background-position: center;
    background-size:cover;
    overflow: hidden;
}

.overlay{
    background-color: RGBA(0,0,0,0.6);
     width: 100%;
    height: 100%;
    opacity: 0;
    transition: ease 300ms;
    border-radius: 100%;
    background-position: center;
    background-size:cover;
    overflow: hidden;
    padding-top: 50px;
}

.overlay:hover{
    cursor: pointer;
    padding: 0;
}

#image-4{
    text-align: center;
    border-radius: 100%;
     width: 120px;
    height: 120px;
    background-image: url(../img/UserIcons/newuser1.png);
    background-position: center;
    background-size:cover;
    overflow: hidden;
    margin: 0 auto;
}

.container-fluid{
    max-width: 100%;
}

.row{
    width: 100%;
}

.container-2{
    background-image: url(../img/Headers/2MdY.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}

.text-line-1 {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}

#sign-in-btn{
    width: 200px;
    height: 30px;
    padding-top: 5px;
    background-color: #013A67;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}

#sign-in-btn:hover {
    opacity:1;
    background-color: crimson;
}

#submit-btn{
    width: 200px;
    height: 30px;
    padding-top: 5px;
    background-color: #013A67;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}

#submit-btn:hover {
    opacity:1;
    background-color: crimson;
}

.container-3{
    background-image: url(../img/Headers/2MdY.gif);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     max-width: 100%;
}

#sign-up-btn{
    width: 200px;
    height: 30px;
    padding-top: 5px;
    background-color: #013A67;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}

#sign-up-btn:hover {
    opacity:1;
    background-color: crimson;
}

.sign-up{
    background-color: #072446;
    opacity: 0.88;
    padding-top: 50px;
    border-radius: 30px;
}