/* font-family: 'Pacifico', cursive; */
/* font-family: 'Montserrat', sans-serif; */

/* hover states: note that colour might vary = 
        background-color: #00b0a6; >>
        cursor: pointer;
        transition: all ease 500ms;

/*  h1 = main headings ONLY
    h6 = buttons ONLY 
    p = change to fit your page

/* buttons = copy shape and size from main.css


    /* general styling and stripping*/
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}

a:active {
    text-decoration: none;
    color: inherit;
}

li {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 50px;
    font-size: 14px;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    
}

h3 {   

    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 18px;
    color: black;
    padding-top: 10px;
    text-align: center;
}

h5 {
    margin-left: 10px;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 13px;
    color: gray;
    letter-spacing: 1px;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 20px;
    color: black;
    letter-spacing: 1px;

}

.textbox h6 {
    margin: 0;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 10px;
    color: black;
    letter-spacing: 1px;
    text-align: center;
}





    /* navigation bar & spacer */













     /* navigation bar & spacer */

.navbar {
        margin-bottom: 0;
        border-radius: 0;
        padding: 1% 0;
        background-color:#072446;
        font-size: 1.2em;
        border: 0;
        height: auto;
    }

.navbar-brand{
        float: left;
        padding: 0px 15px 5px;
        color: #fff;
    }

.navbar-brand h1{
        font-size: 30pt;
        font-family:'Pacifico', cursive;
    }
    
#navbarContent p{
        font-family: 'Montserrat', sans-serif;
        padding: 0% 6%;
    }

.bg-dark{
        background-color: #072446!important;
    }    

.nav-item {
    text-align: right;
    margin-right: -5%;
    
    margin-left: 5%;
}

.header-spacer {
    background-color: crimson;
    height: auto;
    min-height: 1vh;

}







.content {
    width: 100%;
    height: 160vh;
    background-color: #072446;
}

.watchlistbox {
    height: 10px;
    width: 40%;
    margin-left: 50px;
    padding-top: 50px;
}

.watchlistbox h1 {
    font-size: 30px;
}

.watchlistline {
    height: 2.5px;
    width: 450px;
    margin-top: 25px;
    background-color: white;
}


.filmbox {
    width: 100%;
    height: 300px;
}


.picturebox {
    height: 300px;
    width:50%;
    float: left;
    background-color: orangered;
}



.textbox {
    height: 300px;
    width:40%;
    width:50%;
    float: right;
    background-color: white;
}

.picturebox img {
    height: 100%;
    width: 100%;
}


.browse-more-button {
    width: 300px;
    height: 50px;
    background-color: #055d6b;
    font-size: 5px;
    text-align: center;
    border-radius: 5px;
    word-wrap: break-word;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.browse-more-button:hover {
    background-color: #00b0a6;
    cursor: pointer;
    transition: all ease 500ms;
}

.button {
    background-color: #e8c73d;
    width: 70%;
    margin-bottom: 5px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 6px; 
    color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 8px;
    margin-left: 15%;
    margin-top: 70px;
}

.button:hover {
    cursor: pointer;
    transition: all ease 500ms;
    background-color: crimson;
}

.watchlistparagraph {
    height: 100px;
    width: 80%;
    margin-left: 4%;
    margin-top: 100px;

}

.watchlistparagraph p {
    
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    word-spacing: 1px;

}

.textbox h6:hover {
    cursor: pointer;
    font-weight: 700;
}

.hheadings {
    padding-top: 20px;
}






    /* footer */

.footer-spacer {
    height: 1vh;
    background-color: crimson;
}

.footer-row {
    height: auto;
    background-color: #072446;
}

.footer-logo img{
    max-height: 10vh;
    margin-top: 3vh;
}

.footer-blurb {
    text-align: center;
    margin-top: 3vh;
}

.thats-it {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: white;
}

.footer-copyright{
    opacity: 0.4;
    color: white;
}

.social-media img {
    max-height: 5vh;
    float: left;
    display: block;
    opacity: 0.4;
}

.social-media img:hover {
    opacity: 1;
    cursor: pointer;
    transition: all ease 500ms;
}

.social-media {
    margin-top: 5vh;
    margin-bottom: 5vh;
}



